<h1>Fresh Reach Point </h1>



<%= form_for(@zone, :html=>{:class=>"form-wrapper"}) do |f| %>

<fieldset class="section is-active">
  <h2><%=t(:title)%></h2>	  
  <input type="text" name="address" id="address" placeholder="<%=t(:placeholder)%>" required>

  <%= f.submit "Check now!", class: "button" %>
  
</fieldset>


<% end %>

