<h1>Fresh Reach Point </h1>

<form class="form-wrapper is-active">
  <fieldset class="section is-active">
    <h2>Your results</h2>
    <h3><%=t(@result)%></h3>
    <%= link_to "New Search", {action: :index}, class: "button" %>
  </fieldset>
</form>
